/* Base
 *
 * Very basic settings that apply broadly.
 *
 */
html {
	background-color: $white;
}

body {
	min-height: 100%;
	/* Improve default text rendering, handling of kerning pairs and ligatures */
	text-rendering:optimizeLegibility;
}

.wrapper {
	margin-top: 6em;
	padding: 0 1em;
}