/* Site structure */
.header {
	margin-bottom: 6em;
	width: 100%;
	@include clearfix;
}

.branding {
	text-align: center;
}

.main {
	margin-bottom: 6em;
	@include clearfix;
}

.featured {
	margin-bottom: 6em;
}

.signup-form {
	label {
		display: block;
	}

	::placeholder {
		color: $accent;
	}

	.required {
		font-size: $small;
		font-weight: 600;
	}

	.email {
		display: inline-block;
		margin-bottom: 0.25em;
		margin-right: 0.25em;
		width: 70%;
	}

	.signup-button {
		display: inline-block;
	}
}

.footer {
	margin-bottom: 6em;
	text-align: center;
	@include clearfix;
}

.branding,
.content,
.info {
	margin: 0 auto;
	max-width: 700px;
}